@model SC_701_ProyectoG4_Horarios.DAL.Profesor

@{
    ViewData["Title"] = "Eliminar Profesor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Profesor</h1>

<h3>¿Está seguro de eliminar este Profesor?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre)
            @Html.DisplayFor(model => model.Usuario.PrimerApellido)
            @Html.DisplayFor(model => model.Usuario.SegundoApellido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>
</div>

<div class="mt-5">
    <a asp-action="Index">Volver</a>
</div>
